<!DOCTYPE html>
<html>
    <head>
        <title>Sign-in</title>
    </head>
    <body>
        <h1>Sign-in</h1>
        <form action="/sign-in" method="POST">
            <p>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </p>
            <button type="submit">sign-in</button>
        </form>
    </body>
</html>