<!DOCTYPE html>
<html>
    <head>
        <title>Sign-up</title>
    </head>
    <body>
        <h1>Sign-up</h1>
        <form action="/sign-up" method="POST">
            <p>
                <label for="firstName">First name: </label>
                <input type="text" name="firstName" id="firstName" required>
            </p>
            <p>
                <label for="lastName">Last name: </label>
                <input type="text" name="lastName" id="lastName" required>
            </p>
            <p>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" required>
            </p>
            <p>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" required>
            </p>
            <p>
                <label for="confPassword">Confirm password: </label>
                <input type="password" name="confPassword" id="confPassword" required>
            </p>
            <p>
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" required>
            </p>
            <p>
                <button type="submit">sign-up</button>
            </p>        
        </form>
    </body>
</html>